html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

:focus, :active, a:focus, a:active, .btn:focus, .btn:active { outline: 0; text-decoration: none; }

#search {
	position: absolute;
	top:0;
	width: 55%;
	max-width: 767px;
	margin:0;
	/*background-color: #274976;*/
	padding: 10px 20px;
	z-index: 1;
}

#resultListContainer {
	/*background:rgba(255,255,255,0.7) ; light*/
	margin-top: 10px;
	max-height:296px;
	height:auto;
	overflow-y:auto ;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}

#headingcontainer {
		/*margin-bottom: 10px;*/
}

#headingtitle {
	float:left;
}

#imgheading img {
 height:50px;
}

#locationcount {
	/*background-color: #1F79C6;*/
	background:rgba(31,121,198,0.15);
	padding:4px 0 ;
}

#locationcount span {
	margin-left:10px;
	color:#1F79C6;
	line-height: 23px;
	/*padding-top: 5px;*/
	display: inline-block;
}

.filteroptions, .btnATM, .btnhelp {
	/*float:right;*/
	margin-right: 5px;
	padding-top: 3px;
}

/*#btnSearch .glyphicon-search:after {
  content: "Search";
	font-family: 'Roboto Condensed', sans-serif;
	font-size:.7em;
}*/

.btn-w-text {
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 1em;
	}
	.btn-w-text .glyphicon {
	    font-size: 14px;
		}

/*.disclaimer {
	font-size:.7em;
	position:absolute;
	bottom:24px;
	left:8px;
	text-shadow: 2px 2px 4px rgba(255, 255, 255, .7);
}*/
.disclaimer {
		height: 1%;
    font-size: .7em;
    position: absolute;
    bottom: 0;
    left: 0;
		padding-left:5px;
		padding-top: 2px;
    line-height: .9em;
}

/*.well{
	background-color: #d6e7f7;
	}*/

#filterOptions .well, #filterATM .well, #helpinfo .well {
	margin-bottom:0px;
	margin-top: 10px;
}



#filterOptions .well{
	background-color: #d6e7f7;
}
#filterATM .well{	/*background-color: rgba(240, 173, 78, 0.2);*/
	background-color:#f9eddc;
}
#helpinfo .well{
	background-color: #e1d6f7;
}

#filterOptions .optionsTitleBigMyInfo  {
	color:#1688c1;
}
#filterATM .optionsTitleATM {
	color:#f59102;
}
#helpinfo .optionsTitleBigTips {
	color:#7e1d92;
}

video {
  width: 100%    !important;
  height: auto   !important;
	max-height: 400px;
}
.modal-body .close{
	font-size:30px;
}

.filterGroup {
	margin-bottom:15px;
}

.optionsTitle {
	color:#1688c1;
	/*font-weight: 700;*/
	font-size: 1em;
}

.optionsTitleBig{
	color:#1F79C6;
	font-size: 1.6em;
	/*margin-top: -10px;*/
	margin-bottom:5px;
}

#input-radius {
    display: inline-block;
    width: 80px;
}

select#ddlRadius
{
    width: 100%;
		height: auto;
		padding: 3px 2px 0px 1px;
    margin-left: 0px;
    /*font-size: .9em;*/
    border:solid 1px #1F79C6;
    color: #1F79C6;
    background-color: #D8E8F5;
}


.resultsrow {
	cursor:pointer;
	padding-top:5px;
  padding-bottom:4px;
  /*border-bottom: solid 1px #efefef;*/
  line-height:1em;
}

.resultsrow:hover {
	/*background-color: #ddd;
	background:rgba(0,0,0,0.15)*/
	background:rgba(31,121,198,0.08);
}

.resultsrow img {
	/*width:15px;*/
	height:16px;
	margin-right:5px;
	margin-left:5px;
}

#map_canvas {
	position: absolute;;
	margin:  0;
	padding: 0;
	width:   100%;
	height:  100%;
	z-index: 0;
}

.tinted{
	/*background:rgba(0,0,0,0.2) ; dark*/
	background:rgba(255,255,255,0.9) ; /*light*/
}

/* footer */
.footer {
	bottom:0;
	width:100%;
	height:50px;
	color: #77787b;
	font-size: 12px;
	padding:10px;
	background-color:#ddd;
}

#txtSearchAddress{
	background: transparent;
	font-size: 1.1em;
}

#legendlist{
	/*margin-top:10px;*/
}

#legendlist a {
	float:left;
	text-align:center;
	font-size:.8em;
	text-decoration: none;
	margin-top:10px;
	min-width: 65px;
	display: inline-block;
}

.legendtooltip img{
	width: auto;
}
.legendtooltip span{
	font-family: 'Roboto Condensed', sans-serif;
	/*margin: 1px 4px;*/
}
.legendtooltip span.small-margin {
	/*margin: 1px 0px;*/
}

#headingtitle {
	color: #1F79C6;
	/*text-shadow: 2px 2px 4px rgba(150, 150, 150, .7);*/
	margin-top:0;
	margin-bottom:5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	float:left;
}


.slider-selection {
	background: #dadada;
}

.slider-track-high {
	background: #1B9DDE;
}
.slider.slider-horizontal {
    width: 190px;
    height: 20px;
}


#openingBalanceSliderVal, #minMonthlyBalanceSliderVal {
	font-size: 1.6em;
}

.googft-info-window h4 {
	margin:0;
}

.googft-info-window div.regdiv {
	padding-top:5px;
	padding-bottom:15px;
	margin-bottom:10px;
}


.directionsdiv{
	margin-top:10px;
}

a.link-get-directions {
	font-weight: bold;
}

#btnHowToUse {
	margin-right: 10px;
	font-size: 12px;
	/*margin-top: 8px;*/
}

#howToUseModal .well{
	background-color: #292929;
	margin-top:5px;
}
/*override hopscotch for bigger close x */
div.hopscotch-bubble .hopscotch-bubble-close { width:18px;}


/*override bootstrap */

.modal-header, .modal-footer {
	background-color: #97b7d4;
}
.modal-body {
	background-color: #f0f8ff;
}

ol li{
	margin-bottom:10px;
	line-height: 1.2em;
}

.badge {
	background-color: #1B9DDE;
}

.radio input[type="radio"], .radio-inline input[type="radio"] {
	margin-top: 3px;
}

.btn-primary {
    background-color: #1B9DDE;
    border-color: #1B9DDE;
}

.btn-primary.active, .btn-primary:focus, .btn-primary:hover {
    background-color: #1688c1;
    border-color: #1688c1;
}
.btn-blue {
    background-color: #1688c1;
    border-color: #1688c1;
		color: #fff;
}

.btn-blue.active, .btn-blue:focus, .btn-blue:hover {
    background-color: #1577b1;
    border-color: #1577b1;
		color: #fff;
}
.btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success.active, .btn-success:focus, .btn-success:hover {
    background-color: #449d44;
    border-color: #449d44;
}

.btn-danger {
    background-color: #e03934;
    border-color: #e03934; /* #c9302c*/
}
.btn-danger.active, .btn-danger:focus, .btn-danger:hover {
    background-color: #c9302c; /* #c9302c*/
    border-color: #c9302c;
}
.btn-purple {
    background-color: #7e1d92;
    border-color: #7e1d92;
		color: #fff;
}
.btn-purple.active, .btn-purple:focus, .btn-purple:hover {
    background-color: #6e1c82;
    border-color: #6e1c82;
		color: #fff;
}

.btn-teal {
    background-color: #007575;
    border-color: #007575;
		color: #fff;
}
.btn-teal.active, .btn-teal:focus, .btn-teal:hover {
    background-color: #006666;
    border-color: #006666;
		color: #fff;
}



.blue-lt {color: #1B9DDE;}
.blue-md {color: #337ab7;}
.blue {color: #252B64;}
.green {color: #060;}
.red {color: #f01616;}
.darkred {color: #a62248;}
.orange {color: #e14c18;}
.purple {color: #7e1d92;}
.teal {color: #007575;}
.black {color: #333333;}

.blue:hover 	{color: #252B64; text-shadow: 1px 1px 2px rgba(31,121,198,0.5); }
.green:hover 	{color: #006600; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}
.red:hover 		{color: #f01616; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}
.darkred:hover{color: #a62248; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}
.orange:hover {color: #e14c18; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}
.purple:hover {color: #7e1d92; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}
.teal:hover 	{color: #007575; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}
.black:hover 	{color: #333333; text-shadow: 1px 1px 2px rgba(31,121,198,0.5);}



/* mobile screen ////////////////////////////////////////////////////////*/
/*@media (min-width: 993px) {
}

@media (min-width: 1200px) {
}*/

@media (max-width: 767px) {
	#search        				{ width:100%; left:0;  }
	#resultListContainer 	{	max-height:122px; }
	#legendlist a 				{	min-width: 55px; }
	#txtSearchAddress			{	font-size: .9em; }
	/*.legendtooltip img		{	width: 30px; }*/
	/*.legendtooltip span		{	margin: 0px 7px; }*/
	}
	@media (max-width: 414px) {
		#legendlist a 				{	min-width: 65px; }
		#headingtitle .h1 		{ font-size: 1.8em; font-weight:400; }
		#imgheading img 			{ height:38px;}
		#txtSearchAddress			{	padding-left: 3px; padding-right: 3px; }
		/*.disclaimer 					{	height: 3%;	}
		#map_canvas						{ height: 97%; }*/

}

/* mobile screen ////////////////////////////////////////////////////////*/
